.contenedor {
    height: 20vh;
    width: 100vh;
    margin-top: 100px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-logo {
    height: auto;
    width: 400px;
    margin: -50px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #FAEF5D !important;
}